// Variables
//colors
$transparent:               transparent;
$white:                     #fff;
$mischka:                   #e9e8ea;
$alto:                      #dadada;
$martinique:                #3e3b5e;
$mulled-wine:               #47426c;
$ebony-clay:                #2c2a3f;
$steel-gray:                #262438;
$mine-shaft:                #222;
$carnation:                 #f66f5d;
// fonts
$base-font-default:         'Raleway', sans-serif;
$font-montserrat:           'Montserrat', sans-serif;

// Body
$base-text-color:           $mischka;
$base-background:           $ebony-clay;
$base-font-family:          $base-font-default;
$font-size-base:            18px;
$line-height-base:          21px;
$base-min-width:            320px;
// Font-weight
$font-weight-300:           300;
$font-weight-400:           400;
$font-weight-500:           500;
$font-weight-700:           700;
