@import "../utils/variables";
@import "../utils/mixin";

.header {
  padding: 17px 0;
  background: $martinique;

  @include breakpoint($mobile) {
    padding: 15px 0;
  }
}

.header-content {
  display: flex;
  align-items: center;
  position: relative;

  @include breakpoint($tablet) {
    padding: 0 15px;
  }

  @include breakpoint($mobile) {
    padding: 0 3px;
  }
}

.logo {
  margin-right: 72px;
  position: relative;
  z-index: 26;

  @include breakpoint($mobile) {
    max-width: 110px;
    width: 100%;
  }

  img {
    display: flex;
  }
}

.menu-navigation-wrap {
  display: flex;

  @include breakpoint($tablet) {
    position: fixed;
    z-index: 25;
    top: 0;
    left: 200%;
    width: 100%;
    transition: all .25s ease;
    max-width: inherit;
  }

  @include breakpoint($mobile) {
    flex-direction: column;
    min-height: 100vh;
    background: $steel-gray;
    justify-content: space-between;
  }

  .menu-navigation {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    @include breakpoint($tablet) {
      display: block;
      padding: 80px 15px;
      background: $steel-gray;
      //min-height: 100vh;
      min-width: inherit;
      text-align: center;
    }

    li {
      margin-right: 21px;

      @include breakpoint($tablet) {
        text-align: left;
        margin-bottom: 10px;
        margin-right: 0;
      }

      @include breakpoint($mobile) {
        margin-bottom: 0;
      }

      a {
        display: block;
        padding: 10px;

        @include breakpoint($mobile) {
          font-family: $font-montserrat;
          font-weight: $font-weight-300;
          line-height: $line-height-base + 1;
          padding: 6px 10px;
        }
      }
    }
  }
}

.btn-menu {
  display: none;
  position: absolute;
  top: 50%;
  right: 19px;
  transform: translate(0, -50%);
  height: 22px;
  width: 28px;
  cursor: pointer;
  transition: all .25s ease;
  z-index: 103;
  border: none;
  background: $transparent;

  @include breakpoint($tablet) {
    display: block;
  }

  @include breakpoint($mobile) {
    right: 6px;
    height: 18px;
    width: 22px;
  }

  span {
    background: $carnation;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
  }

  .middle {
    transform: translate(0, -50%);
    top: 50%;
  }

  .bottom {
    top: auto;
    bottom: 0;
  }

  .top {
    bottom: 0;
  }
}

.btn-menu.active {
  background: transparent;

  .top {
    transform: translateY(8px) translateX(0) rotate(45deg);
    top: 0;
  }

  .middle {
    opacity: 0;
  }

  .bottom {
    bottom: 4px;
    transform: translateY(-8px) translateX(0) rotate(-45deg);

    @include breakpoint($mobile) {
      bottom: 0;
    }
  }
}

.show-menu {
  @include breakpoint($tablet) {
    left: 0;
  }
}

