@import "../utils/variables";
@import "../utils/mixin";


.btn {
  display: block;
  text-align: center;
  font-weight: $font-weight-500;
  font-size: $font-size-base;
  line-height: $line-height-base + 1;
  width: 100%;
  padding: 8px 10px;
  background: $carnation;
  text-transform: uppercase;
  color: $mine-shaft;
}